@import "../../assets/style/mixin.scss";
@import "../../assets/style/colors.scss";
.character {
  @include characterCoverFrame;
  background-color: $color4;

  display: inline-block;
  height: 300px;
  margin: 1vmin;
  overflow: hidden;
  position: relative;
  width: 300px;

  cursor: pointer;
}

.character img {
  transform-origin: 100 100;
  transition: transform 0.5s ease;
  flex-shrink: 0;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
}

.character:hover img {
  transform: scale(1.1);
}

.character__name {
  background-color: $color4;
  border: solid 2px $color2;
  margin: 0;
  padding: 3px 10px;
  font-size: 18px;
  bottom: -2px;
  position: absolute;
  right: -6px;
  transform: skew(-15deg);
}
