body {
  margin: 0;
  font-family: "Bangers", cursive !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Bangers", cursive !important;
}
